.btn-bg-theme {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  @include pxRem(min-height, 36);
  @include pxRem(width, 56);
  @include pxRem(height, 56);
  @include pxRem(right, 32);
  @include pxRem(bottom, 32);
  background-color: rgb(55, 111, 208);
  position: fixed;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-theme {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
  }
}

.page-main {
  @include pxRem(padding, 48 48 48 47 !important);

  &-content {
    @include pxRem(padding, 48 0);
  }


  &-sidebar {
    background-color: rgb(35, 48, 68);
    color: map-get($map: $colors, $key: color-background);
    @include pxRem(padding-top, 10);
    height: 102.8%;

    .sidebar-list-title {
      background-color: rgb(35, 48, 68);
      color: map-get($map: $colors, $key: bs-gray-500);
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: map-get($map: $font-weight, $key: font-regular);
      line-height: 1.57;
      font-size: 0.696429rem;
      @include pxRem(padding, 15 28 4);
      color: rgb(238, 238, 238);
      opacity: 0.4;
      @include pxRem(letter-spacing, -0.1);
    }

    svg {
      color: rgb(238, 238, 238);
      opacity: 0.5;
    }

    .sidebar-list-name {
      @include pxRem(padding, 9 27 12 31);

      span {
        @include pxRem(font-size, 13.5);
        color: rgb(238, 238, 238);
      }
    }

    .sidebar-list-collapse {
      padding: 0;

      span {
        @include pxRem(font-size, 13.5);
        color: rgb(238, 238, 238);
        opacity: 0.6;
      }
    }

    .sidebar-item-name {
      @include pxRem(padding-left, 40);
      margin: 0 0;
    }
  }

  &-menu-header {
    display: flex;
    justify-content: space-between;
    @include pxRem(padding-top, 14);

    .menu-header-title {
      margin: 0px 0px 0.35em;
      @include pxRem(font-size, 25);
      @include pxRem(letter-spacing, 0.3);
      font-weight: map-get($map: $font-weight, $key: font-medium);
      line-height: 1.25;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    .menu-header-subtitle {
      font-size: 0.928571rem;
      line-height: 1.75;
      @include pxRem(letter-spacing, 0.5);
    }

    .btn-social {
      @include pxRem(margin-top, 2);
    }

    .menu-header-btn-today {
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: map-get($map: $font-weight, $key: font-regular);
      font-size: 0.8125rem;
      line-height: 1.75;
      @include pxRem(min-width, 64);
      @include pxRem(padding, 5.6 16);
      @include pxRem(border-radius, 4);
      color: rgb(255, 255, 255);
      background-color: rgb(71, 130, 218);
      text-transform: capitalize;
      letter-spacing: 0;
    }

    .menu-header-btn-social {
      @include pxRem(min-width, 28.5);
      @include pxRem(height, 28.5);

      &.filter {
        @include pxRem(margin-right, 4);
      }

      svg {
        @include pxRem(width, 20.5);
        @include pxRem(height, 20.5);
      }
    }
  }

  &-divider {
    width: 100%;
    margin-left: 0 !important;
    @include pxRem(margin, 24 24 24 0 !important);
  }

  .card-list {
    .paper-card-item {
      @include pxRem(padding, 16 15 16 16);

      .card-title {
        @include pxRem(margin, 0 0 16);
        font-size: 1rem;
        font-weight: map-get($map: $font-weight, $key: font-regular);
        line-height: 1.25;
        @include pxRem(letter-spacing, 0.3);
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }

      .card-prime {
        @include pxRem(margin, -1 0 12);
        font-size: 1.55rem;
        font-weight: map-get($map: $font-weight, $key: font-normal);
        line-height: 1.25;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }

      .card-subtitle {
        font-size: 0.8125rem;
        line-height: 1.57;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: map-get($map: $font-weight, $key: font-regular);
        @include pxRem(margin-left, 11);
        letter-spacing: 0;
      }

      .card-chip {
        @include pxRem(border-radius, 6);
        @include pxRem(height, 20);
        font-size: 85%;
        background-color: rgb(71, 130, 218);
        color: rgb(255, 255, 255);
        @include pxRem(margin-bottom, 16);
      }

      .card-chip span {
        @include pxRem(padding, 1 9 0 8);
        @include pxRem(font-size, 85%);
      }

      .card-chip2 {
        @include pxRem(border-radius, 3);
        @include pxRem(height, 20);
        font-size: 85%;
        background: rgba(76, 175, 80, 0.1);
        color: rgb(76, 175, 80);
        font-weight: map-get($map: $font-weight, $key: font-medium);
      }

      .card-chip2 span {
        @include pxRem(padding, 0 3);
        font-weight: map-get($map: $font-weight, $key: font-regular);
        @include pxRem(letter-spacing, 0.3);
      }
    }

    .card-item:nth-child(2n) {
      .card-chip2 {
        color: rgb(244, 67, 54);
        font-weight: map-get($map: $font-weight, $key: font-medium);
        background: rgba(244, 67, 54, 0.1);
      }
    }

    .card-item:last-child {
      .paper-card-item {
        background: rgba(55, 111, 208, 0.125);
        color: rgb(55, 111, 208);
      }

      .card-chip {
        background: rgba(55, 111, 208, -0.875);
      }

      .card-subtitle {
        color: rgb(55, 111, 208);
      }
    }
  }

  .title-chart-line span {
    font-size: 1rem;
    font-weight: map-get($map: $font-weight, $key: font-regular);
    line-height: 1.25;
    @include pxRem(letter-spacing, 0.3);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .chart-line-doughnut {
    @include pxRem(margin-top, 25);

    .line-chart {
      @include pxRem(padding, 16);
      @include pxRem(padding-bottom, 24);

      .line-chart-canvas {
        @include pxRem(height, 378 !important);
      }
    }

    .more-sale-doughnut-chart {
      text-align: center;
      position: absolute;
      left: 32%;
      top: 37%;

      h3 {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.25;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }

      h4 {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        font-size: 0.696429rem;
        line-height: 1.66;
      }
    }

    .doughnut-chart {
      @include pxRem(height, 168 !important);
      @include pxRem(width, 168 !important);
      position: relative;
    }

    .table-doughnut-chart {
      box-shadow: unset;
      @include pxRem(padding, 0 16 24);

      th,
      td {
        // border: unset;
        // border-bottom: 1px solid rgba(224, 224, 224, 1);
        @include pxRem(padding, 9 16);
      }

      tbody th {
        @include pxRem(padding, 10.5 16);
      }

      td:nth-child(3) {
        color: rgb(102, 187, 106);
      }

      tr:nth-child(2) {
        td:nth-child(3) {
          color: rgb(239, 83, 80);
          ;
        }
      }
    }
  }

  .chart-bar-table {
    @include pxRem(margin-top, 25);

    .bar-chart {
      @include pxRem(padding, 18 16 24);

      canvas {
        @include pxRem(height, 340 !important);
      }
    }

    .table-bar-chart {
      box-shadow: unset;

      table {
        max-width: calc(100vw - 48px);
      }

      th,
      td {
        // border: unset;
        // border-bottom: 1px solid rgba(224, 224, 224, 1);
        @include pxRem(padding, 15.5 16);
        @include pxRem(width, 152.42);
        @include pxRem(max-width, 152.42);
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.39286rem;
      }

      tbody th {
        font-weight: 400;
        font-size: 0.8125rem;
        line-height: 1.43;
        // color: rgba(0, 0, 0, 0.87);
        @include pxRem(padding, 15.5 16);
      }

      .table-chip-state {
        @include pxRem(border-radius, 6);
        @include pxRem(height, 20);
        @include pxRem(padding, 4 0);
        font-size: 90%;
        color: rgb(255, 255, 255);
      }
    }
  }

  //end page doashboard default
  .page-chat-header {
    @include pxRem(margin-top, 15);

    &-title {
      @include pxRem(letter-spacing, 0.5);
      margin: 0 0 0.32em;
      font-size: 1.55rem;
      font-weight: 600;
      line-height: 1.25;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    &-breadcrumb {
      @include pxRem(font-size, 13);

      :nth-child(2n) {
        @include pxRem(margin, 0 7.5);
      }

      p {
        @include pxRem(font-size, 13);
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 400;
        line-height: 1.5;
      }

      li:not(:last-child) {
        p {
          color: rgb(55, 111, 208);
        }

        p:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .chat-divider {
    @include pxRem(margin, 25 24 25 0 !important);
  }

  .page-chat-content {
    width: 100%;
    height: 65vh;

    input {
      border: unset;
      box-shadow: none;
      height: 1.4375em;
      @include pxRem(padding, 14);
    }

    label {
      @include pxRem(font-size, 13.5);
      @include pxRem(letter-spacing, 0.2);
    }
  }

  .content-left {
    &-input {
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      height: 65vh;
    }

    &-input-text {
      width: 100%;
    }

    &-divider {
      margin: 0;
    }

    &-mess {
      @include pxRem(padding, 8 16);

      span {
        background-color: rgb(76, 175, 80);
        border: 1.5px solid rgb(255, 255, 255);
        @include pxRem(height, 12);
        @include pxRem(width, 12);
        border-radius: 50%;
        position: absolute;
        top: 73%;
        left: 70%;
      }

      &:last-child {
        h3 {
          @include pxRem(margin, -1 0 1);
        }

        span {
          display: none;
        }
      }
    }

    &-user {
      @include pxRem(padding, 6 0);
    }

    &-title {
      @include pxRem(font-size, 13);
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      line-height: 1.5;
    }

    &-subtitle {
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.43;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .content-right {
    &-chat {
      overflow-y: scroll;
      height: calc(65vh - 94px);
      @include pxRem(padding-top, 29);
    }

    &-divider {
      @include pxRem(margin, -2 0);
    }

    &-sent {
      @include pxRem(min-height, 94);
      @include pxRem(padding, 20 20 19);
      width: 100%;
    }

    &-input {
      flex-grow: 1;

      input {
        @include pxRem(padding, 13 14 15);
      }
    }

    &-btn-sent {
      @include pxRem(width, 48);
      @include pxRem(height, 48);
      border-radius: 50%;
      justify-content: flex-end;
      @include pxRem(min-width, 36);
      @include pxRem(margin, 0 0 3 8);
    }

    &-img {
      @include pxRem(width, 34);
      @include pxRem(height, 34);
      @include pxRem(margin, 0 8 8 0);
    }

    &-title {
      @include pxRem(font-size, 13);
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      line-height: 1.5;
      font-weight: 600;
      @include pxRem(letter-spacing, -0.05);
    }

    &-subtitle {
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.43;
      @include pxRem(letter-spacing, 0.08);
    }

    &-time {
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.43;
      text-align: right;
      opacity: 0.8;
    }

    &-mess:first-child {
      .content-right-messenger {
        @include pxRem(margin, 0 30 30);
      }

      .first {
        .content-right-subtitle {
          @include pxRem(margin, -1 0 1);
        }
      }
    }
  }

  .content-right-messenger {
    display: inline-block;
    @include pxRem(margin, 1 30 30);

    &.first {
      .content-right-user {
        background: rgba(0, 0, 0, 0.04);
        border-radius: 3px;
        padding: 8px;
        margin-bottom: 4px;
      }

      .content-right-img {
        @include pxRem(margin, 0 8 10 0);
      }
    }

    &.second {
      justify-content: right;
      flex-direction: column;
      display: grid;
      text-align: right;

      .content-right-user {
        background: rgb(71, 130, 218);
        color: rgb(255, 255, 255);
        border-radius: 3px;
        padding: 8px;
        margin-bottom: 4px;
      }
    }
  }

  /// end page chat
  .profile-card1 {
    .MuiCardContent-root {
      @include pxRem(padding-bottom, 22 !important);
    }

    &-header {
      margin: 0px 0px 0.35em;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    &-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include pxRem(margin-top, 16);

      img {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-subtitle {
      margin: 0px 0px 0.35em;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.43;

      &.one {
        font-weight: 500;
        @include pxRem(margin, 5 0 0);
      }
    }

    &-btn {
      font-size: 0.754464rem;
      @include pxRem(margin, 0 8 2 0);
      text-transform: inherit;
      line-height: 1.85;
      @include pxRem(padding, 4 10 2);
    }
  }

  .profile-card:not(:first-child) {
    @include pxRem(margin-top, 25);
  }

  .profile-card2-content {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    @include pxRem(margin, 16.5 7 0 -2);

    &-chip {
      @include pxRem(border-radius, 6);
      @include pxRem(margin, 0 0 4 4);
      @include pxRem(height, 24);
      @include pxRem(letter-spacing, -0.1);

      span {
        @include pxRem(padding, 0 8);
      }

      &:first-child {
        background-color: rgb(71, 130, 218);
        color: #fff;
      }
    }
  }

  .profile-card3-content {
    @include pxRem(margin-top, 16);

    &-subtitle {
      @include pxRem(margin-bottom, 4);

      svg {
        @include pxRem(width, 20);
        @include pxRem(margin, -1 0 0 -2);
      }
    }

    span {
      font-size: 13px;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      line-height: 1.5;
      @include pxRem(margin-left, 4.4);
    }

    a {
      text-decoration: none;
      font-size: 13px;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      line-height: 1.5;
      @include pxRem(margin-left, 4.4);
    }

    &.card4 {
      svg {
        @include pxRem(width, 18);

      }
    }
  }

  .title-chart-line.bar-chart-profile-title {
    @include pxRem(padding, 16 18 0);
  }

  .bar-chart-profile {
    @include pxRem(height, 312);
    @include pxRem(padding, 0 18 8);
  }

  .card-profile-item {
    @include pxRem(margin-top, 25);
  }

  // .card-profile-progress {
  //   @include pxRem(margin-top, 16);

  //   .css-5ir5xx-MuiLinearProgress-bar1 {
  //     animation: animation-ozg7p2 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) forwards;
  //     transform: translateX(-125%);
  //   }

  //   .css-1r8wrcl-MuiLinearProgress-bar2 {
  //     animation: unset;
  //   }
  //   .css-1nrbbjj-MuiLinearProgress-bar2{
  //     animation: unset;
  //   }
  //   .css-1bzgrj-MuiLinearProgress-bar1{
  //     animation: animation-ozg7p2 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) forwards;
  //     transform: translateX(-125%);
  //   }
  // }

  // .card-profile-item:nth-child(2) {
  //   .card-profile-progress {
  //     .css-5ir5xx-MuiLinearProgress-bar1 {
  //       transform: translateX(-175%);
  //     }
  //     .css-1bzgrj-MuiLinearProgress-bar1{
  //       transform: translateX(-175%);
  //     }
  //   }
  // }

  // .card-profile-item:last-child {
  //   .card-profile-progress {
  //     .css-5ir5xx-MuiLinearProgress-bar1 {
  //       transform: translateX(-150%);
  //     }
  //     .css-1bzgrj-MuiLinearProgress-bar1{
  //       transform: translateX(-150%);
  //     }
  //   }
  // }

  .card-profile {
    @include pxRem(padding, 16 16 24);
    position: relative;

    &-prime {
      margin: 0.2em 0 0.35em;
      font-size: 1.85rem;
      font-weight: 400;
      line-height: 1.25;
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    &-title {
      @include pxRem(margin, 12 0 0);
      font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 400;
      font-size: 0.8125rem;
      line-height: 1.43;
    }

    svg {
      position: absolute;
      top: 27%;
      right: 6.9%;
      @include pxRem(width, 32);
      @include pxRem(height, 32);
      color: rgb(71, 130, 218);
    }
  }

  .table-profile {
    .title-chart-line {
      @include pxRem(padding, 16 16 0);
    }

    .table-bar-chart {
      box-shadow: none;
    }

    .table-chip-state {
      border-radius: 6px;
      height: 20px;
      padding: 4px 0px;
      font-size: 90%;
      opacity: 0.8;
      span{
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}